* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f7fb;
    color: #222;
}

.navbar {
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo span {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #2563eb;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.logo strong {
    display: block;
    font-size: 20px;
}

.logo small {
    color: #777;
}

#logoutBtn {
    border: none;
    background: #ef4444;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.welcome {
    margin-bottom: 30px;
}

.welcome h1 {
    margin-bottom: 8px;
}

.welcome p {
    color: #666;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.stat-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.stat-card span {
    display: block;
    color: #666;
    margin-bottom: 10px;
}

.stat-card strong {
    font-size: 30px;
}

h2 {
    margin-bottom: 20px;
}

.booking-card {
    background: white;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 20px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.booking-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.booking-header h3 {
    font-size: 20px;
}

.status {
    padding: 7px 12px;
    border-radius: 20px;
    background: #fef3c7;
    color: #92400e;
    font-size: 13px;
    font-weight: bold;
}

.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.detail span {
    display: block;
    color: #777;
    font-size: 13px;
    margin-bottom: 4px;
}

.detail strong {
    font-size: 15px;
}

.loading,
.no-services {
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    color: #666;
}

@media (max-width: 700px) {

    .navbar {
        padding: 0 15px;
    }

    .container {
        margin-top: 25px;
    }

    .stats {
        grid-template-columns: 1fr;
    }

    .details {
        grid-template-columns: 1fr;
    }
}

.actions {
    margin-top: 25px;
}

.start-btn,
.complete-btn {
    border: none;
    padding: 12px 20px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.start-btn {
    background: #2563eb;
    color: white;
}

.complete-btn {
    background: #16a34a;
    color: white;
}

.completed-text {
    color: #16a34a;
    font-weight: bold;
}